.shell {
  position: relative;

  width: 100%;
  min-height: 100dvh;
}

.main {
  width: 100%;
  min-height: 100dvh;

  padding-bottom:
    calc(
      76px +
      env(safe-area-inset-bottom)
    );
}
